html
  head
    title Epiphany Banking

  body
    h1  Welcome To Epiphany Banking

    div(id='loginForm')
      form(action='/login')
        table
          tr
            td
              h3  Email:
            td
              input(type='text')
          tr
            td
              h3 Password:
            td
              input(type='password')
          tr
            td(colspan='2')
              input(type='submit')
