<!DOCTYPE html>
<html lang="en">
<head>
<title>Personal Finace</title>
<script src="../form.js"></script>
<link href="../style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <h1>Welcome To Epiphany Banking</h1>
  </header>

<div id="login">
  <form action="/login" method="post">
    <ul style="list-style:none;">
        <li><h2>Users Please Login</h2></li>
      <li>
        <input type="text" name="userName" id="username" size="16" placeholder="User Name">
      </li>
      <li>
        <input type="password" name="password" id="password" size="16" placeholder="password">
      </li>
      <li>
        <input type="button" value="login" id="formsubmit">
      </li>
    </ul>
  </form>
</div>
<div id="register">
  <form action="/registerUser" method="post">
    <ul style="list-style: none;">
    <li><input type="text" name="fName" id="fname" size="16" placeholder="First Name"></li>
    <li><input type="text" name="lName" id="lname" size="16" placeholder="Last Name"></li>
    <li><input type="email" name="email" id="email" size="16" placeholder="Email"></li>
    <li><input type="text" name="userName" id="username" size="16" placeholder="User Name"></li>
    <li><input type="password" name="password" id="password" size="16" placeholder="password"></li>
    <!-- <input type="hidden" name="address" id="address" size="16" value=[> does not work-->
    <li><input type="text" name="streetNumber" id="streetNumber" size="16" placeholder="Street Number"></li>
    <li><input type="text" name="street" id="street" size="16" placeholder="street"></li>
    <li><input type="text" name="city" id="city" size="16" placeholder="city"></li>
    <li><input type="text" name="state" id="state" size="16" placeholder="state"></li>
    <li><input type="text" name="zipCode" id="zipCode" size="16" placeholder="Zip Code"></li>
    <li><input type="text" name="country" id="country" size="16" placeholder="Country"></li>
    <!--<input type="hidden" name="]" value=]>-->
    <li><input type="button" id="formsubmit" value="Register"></li>
    </ul>
  </form>
</div>
</body>
</html>
